Cari data desa BPS: <br>
- Provinsi dengan desa terbanyak di th 03, 05, 08, 11, 14, 18 <br>
- Provinsi dengan desa tersedikit di th 03, 05, 08, 11, 14, 18

<b>How To:</b>
1. Buang header dan footer yg ga perlu
2. Jadikan provinsi sebagai primary key
3. Urus data yg kosong
4. Gabung desa tepi laut dan bukan tepi laut
5. Cari max di masing-masing tahun
6. Cari min di masing-masing tahun

In [8]:
import pandas as pd

In [9]:
df = pd.read_excel('data-bps.xlsx', header=3, skipfooter=1, na_values='-')
df = df.rename(columns = {'Unnamed: 0': 'Provinsi'})
df = df.set_index('Provinsi')
df

,2003,2005,2008,2011,2014,2018,2003.1,2005.1,2008.1,2011.1,2014.1,2018.1
Provinsi,,,,,,,,,,,,
ACEH,507.0,660.0,678.0,761.0,748,723,5229.0,5308.0,5746.0,5722.0,5764,5785
SUMATERA UTARA,336.0,175.0,375.0,396.0,459,423,5043.0,4740.0,5392.0,5401.0,5645,5709
SUMATERA BARAT,80.0,99.0,102.0,116.0,127,132,795.0,802.0,822.0,917.0,1018,1143
RIAU,346.0,406.0,186.0,232.0,271,254,1279.0,1326.0,1418.0,1423.0,1564,1621
JAMBI,28.0,28.0,28.0,29.0,30,28,1161.0,1207.0,1275.0,1343.0,1521,1534
SUMATERA SELATAN,16.0,19.0,22.0,34.0,29,25,2691.0,2759.0,3057.0,3152.0,3208,3237
BENGKULU,134.0,157.0,166.0,182.0,186,184,1029.0,1067.0,1185.0,1327.0,1346,1330
LAMPUNG,170.0,186.0,203.0,231.0,241,231,1958.0,2005.0,2136.0,2233.0,2391,2423
KEP. BANGKA BELITUNG,122.0,105.0,137.0,163.0,166,160,195.0,216.0,207.0,198.0,215,231
KEP. RIAU,NaN,NaN,267.0,299.0,361,355,NaN,NaN,59.0,54.0,54,61
DKI JAKARTA,16.0,16.0,15.0,16.0,16,15,251.0,251.0,252.0,251.0,251,252
JAWA BARAT,219.0,193.0,217.0,217.0,227,221,5539.0,5615.0,5654.0,5688.0,5735,5736
JAWA TENGAH,334.0,334.0,329.0,347.0,357,355,8221.0,8230.0,8245.0,8230.0,8221,8204
DI YOGYAKARTA,30.0,32.0,33.0,33.0,33,33,408.0,406.0,405.0,405.0,405,405
JAWA TIMUR,567.0,571.0,611.0,655.0,678,655,7898.0,7906.0,7894.0,7847.0,7824,7841
BANTEN,114.0,123.0,124.0,131.0,135,133,1365.0,1359.0,1380.0,1404.0,1416,1419
BALI,150.0,156.0,167.0,177.0,175,175,536.0,545.0,545.0,539.0,541,541
NUSA TENGGARA BARAT,183.0,184.0,241.0,279.0,301,297,555.0,636.0,672.0,805.0,840,846
NUSA TENGGARA TIMUR,768.0,815.0,841.0,943.0,1011,1018,1782.0,1923.0,1962.0,2023.0,2259,2335
KALIMANTAN BARAT,130.0,138.0,153.0,163.0,161,158,1309.0,1392.0,1638.0,1804.0,1948,1979
KALIMANTAN TENGAH,40.0,34.0,41.0,45.0,44,45,1290.0,1317.0,1407.0,1483.0,1525,1531
KALIMANTAN SELATAN,135.0,131.0,135.0,166.0,165,165,1814.0,1828.0,1839.0,1834.0,1843,1843
KALIMANTAN TIMUR,131.0,168.0,179.0,218.0,175,156,1168.0,1176.0,1238.0,1247.0,851,882
KALIMANTAN UTARA,NaN,NaN,NaN,NaN,55,56,NaN,NaN,NaN,NaN,424,426
SULAWESI UTARA,456.0,509.0,627.0,721.0,778,783,740.0,760.0,867.0,972.0,1058,1055
SULAWESI TENGAH,684.0,770.0,839.0,901.0,1021,1011,756.0,760.0,847.0,914.0,965,1009
SULAWESI SELATAN,547.0,547.0,485.0,504.0,531,527,2537.0,2739.0,2461.0,2478.0,2499,2522
SULAWESI TENGGARA,590.0,658.0,771.0,813.0,947,954,974.0,1027.0,1257.0,1308.0,1325,1400
GORONTALO,82.0,110.0,136.0,191.0,203,201,294.0,340.0,448.0,540.0,533,533
SULAWESI BARAT,NaN,NaN,122.0,148.0,152,152,NaN,NaN,414.0,490.0,496,498
MALUKU,708.0,733.0,772.0,859.0,914,1064,128.0,140.0,134.0,165.0,174,176
MALUKU UTARA,551.0,568.0,772.0,856.0,941,934,190.0,213.0,264.0,223.0,255,262
PAPUA BARAT,NaN,NaN,416.0,536.0,543,572,NaN,NaN,789.0,903.0,1024,1415
PAPUA,846.0,827.0,474.0,522.0,646,662,2661.0,2512.0,2837.0,3402.0,4225,4890

In [10]:
for i in df:
    if i == '2003.1':
        break
    df[i] = df[i] + df[str(i)+'.1']
df

,2003,2005,2008,2011,2014,2018,2003.1,2005.1,2008.1,2011.1,2014.1,2018.1
Provinsi,,,,,,,,,,,,
ACEH,5736.0,5968.0,6424.0,6483.0,6512,6508,5229.0,5308.0,5746.0,5722.0,5764,5785
SUMATERA UTARA,5379.0,4915.0,5767.0,5797.0,6104,6132,5043.0,4740.0,5392.0,5401.0,5645,5709
SUMATERA BARAT,875.0,901.0,924.0,1033.0,1145,1275,795.0,802.0,822.0,917.0,1018,1143
RIAU,1625.0,1732.0,1604.0,1655.0,1835,1875,1279.0,1326.0,1418.0,1423.0,1564,1621
JAMBI,1189.0,1235.0,1303.0,1372.0,1551,1562,1161.0,1207.0,1275.0,1343.0,1521,1534
SUMATERA SELATAN,2707.0,2778.0,3079.0,3186.0,3237,3262,2691.0,2759.0,3057.0,3152.0,3208,3237
BENGKULU,1163.0,1224.0,1351.0,1509.0,1532,1514,1029.0,1067.0,1185.0,1327.0,1346,1330
LAMPUNG,2128.0,2191.0,2339.0,2464.0,2632,2654,1958.0,2005.0,2136.0,2233.0,2391,2423
KEP. BANGKA BELITUNG,317.0,321.0,344.0,361.0,381,391,195.0,216.0,207.0,198.0,215,231
KEP. RIAU,NaN,NaN,326.0,353.0,415,416,NaN,NaN,59.0,54.0,54,61
DKI JAKARTA,267.0,267.0,267.0,267.0,267,267,251.0,251.0,252.0,251.0,251,252
JAWA BARAT,5758.0,5808.0,5871.0,5905.0,5962,5957,5539.0,5615.0,5654.0,5688.0,5735,5736
JAWA TENGAH,8555.0,8564.0,8574.0,8577.0,8578,8559,8221.0,8230.0,8245.0,8230.0,8221,8204
DI YOGYAKARTA,438.0,438.0,438.0,438.0,438,438,408.0,406.0,405.0,405.0,405,405
JAWA TIMUR,8465.0,8477.0,8505.0,8502.0,8502,8496,7898.0,7906.0,7894.0,7847.0,7824,7841
BANTEN,1479.0,1482.0,1504.0,1535.0,1551,1552,1365.0,1359.0,1380.0,1404.0,1416,1419
BALI,686.0,701.0,712.0,716.0,716,716,536.0,545.0,545.0,539.0,541,541
NUSA TENGGARA BARAT,738.0,820.0,913.0,1084.0,1141,1143,555.0,636.0,672.0,805.0,840,846
NUSA TENGGARA TIMUR,2550.0,2738.0,2803.0,2966.0,3270,3353,1782.0,1923.0,1962.0,2023.0,2259,2335
KALIMANTAN BARAT,1439.0,1530.0,1791.0,1967.0,2109,2137,1309.0,1392.0,1638.0,1804.0,1948,1979
KALIMANTAN TENGAH,1330.0,1351.0,1448.0,1528.0,1569,1576,1290.0,1317.0,1407.0,1483.0,1525,1531
KALIMANTAN SELATAN,1949.0,1959.0,1974.0,2000.0,2008,2008,1814.0,1828.0,1839.0,1834.0,1843,1843
KALIMANTAN TIMUR,1299.0,1344.0,1417.0,1465.0,1026,1038,1168.0,1176.0,1238.0,1247.0,851,882
KALIMANTAN UTARA,NaN,NaN,NaN,NaN,479,482,NaN,NaN,NaN,NaN,424,426
SULAWESI UTARA,1196.0,1269.0,1494.0,1693.0,1836,1838,740.0,760.0,867.0,972.0,1058,1055
SULAWESI TENGAH,1440.0,1530.0,1686.0,1815.0,1986,2020,756.0,760.0,847.0,914.0,965,1009
SULAWESI SELATAN,3084.0,3286.0,2946.0,2982.0,3030,3049,2537.0,2739.0,2461.0,2478.0,2499,2522
SULAWESI TENGGARA,1564.0,1685.0,2028.0,2121.0,2272,2354,974.0,1027.0,1257.0,1308.0,1325,1400
GORONTALO,376.0,450.0,584.0,731.0,736,734,294.0,340.0,448.0,540.0,533,533
SULAWESI BARAT,NaN,NaN,536.0,638.0,648,650,NaN,NaN,414.0,490.0,496,498
MALUKU,836.0,873.0,906.0,1024.0,1088,1240,128.0,140.0,134.0,165.0,174,176
MALUKU UTARA,741.0,781.0,1036.0,1079.0,1196,1196,190.0,213.0,264.0,223.0,255,262
PAPUA BARAT,NaN,NaN,1205.0,1439.0,1567,1987,NaN,NaN,789.0,903.0,1024,1415
PAPUA,3507.0,3339.0,3311.0,3924.0,4871,5552,2661.0,2512.0,2837.0,3402.0,4225,4890

In [11]:
for i in df:
    if i == '2003.1':
        break
    print(f'Desa terbanyak pada tahun {i} ada di Provinsi {(df.loc[df[i] == df[i].max()].index.tolist())[0]}')

Desa terbanyak pada tahun 2003 ada di Provinsi JAWA TENGAH
Desa terbanyak pada tahun 2005 ada di Provinsi JAWA TENGAH
Desa terbanyak pada tahun 2008 ada di Provinsi JAWA TENGAH
Desa terbanyak pada tahun 2011 ada di Provinsi JAWA TENGAH
Desa terbanyak pada tahun 2014 ada di Provinsi JAWA TENGAH
Desa terbanyak pada tahun 2018 ada di Provinsi JAWA TENGAH

In [12]:
for i in df:
    if i == '2003.1':
        break
    print(f'Desa tersedikit pada tahun {i} ada di Provinsi {(df.loc[df[i] == df[i].min()].index.tolist())[0]}')

Desa tersedikit pada tahun 2003 ada di Provinsi DKI JAKARTA
Desa tersedikit pada tahun 2005 ada di Provinsi DKI JAKARTA
Desa tersedikit pada tahun 2008 ada di Provinsi DKI JAKARTA
Desa tersedikit pada tahun 2011 ada di Provinsi DKI JAKARTA
Desa tersedikit pada tahun 2014 ada di Provinsi DKI JAKARTA
Desa tersedikit pada tahun 2018 ada di Provinsi DKI JAKARTA